.content {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
td {
    width: 76px;
}

input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
.btn-default{
padding:6px 6px;
text-align: left;
font-size: 12px;
}
button{
  width: auto;
}
.scroll {
    overflow: scroll;
    height: 436px;
}
