#parent-table, #child-table, #show_all_parent, #hide_show, #list-of-parents, #parent_button, #child_button, #back_button_for_parent_results_div {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.content {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.parent_tab tr:hover {
    background-color: rgba(192, 197, 200, 0.54);
}

.details_color {
    background-color: #eeeeee;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px 4px 0 0;
}


/*td input, td select {
    width: 100px;
}
*/

td {
    width: 76px;
}

input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
