.content {
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    /*height: 460px;*/
}

.hide, #list-of-parent, #show_all_customer, #show_all_parents, #parent_change, #child_change, .parent_bottom_buttons, .child_bottom_buttons, #search_button, #back_buttons, #update_button, #parent_search_button, #parent_back_buttons, #parent_update_button, #parent_table, #child-table, #list-of-cust {
    display: none;
}

.show {
    display: block;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

#search-para td, #child-table td, #parent-table td, #type td {
    width: 76px;
}

input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}

.edit_parent, .delete_parent, .delete_customer, .edit_customer {
    width: 30px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.parent_tab tr:hover {
    background-color: rgba(192, 197, 200, 0.54);
    cursor: pointer;
}


/*#list-of-parent, #list-of-customer {
    overflow: hidden;
    height: 436px;
}*/

.scroll {
    overflow: scroll;
    height: 436px;
}
