                                            body {
                                                padding: 0;
                                                margin: 0;
                                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                font-size: 12px;
                                            }

                                            thead {
                                                border-bottom: solid 1px black;
                                            }

                                            table, th, td {
                                                border: none;
                                                border-collapse: collapse;
                                            }

                                            th, td {
                                                padding: 5px;
                                                text-align: left;
                                            }

                                            #set-ds {
                                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                font-size: 10px;
                                            }

                                            .actiondiv {
                                                width: 100%;
                                                height: 3%;
                                                border-bottom: 1px solid black;
                                                border-top: 1px solid black;
                                                background-color: #9eaeb3;
                                            }

                                            .actiondiv1 {
                                                height: 20%;
                                                width: 100%;
                                                border-bottom: 1px solid black;
                                                border-top: 1px solid black;
                                                background-color: #9eaeb3;
                                            }

                                            input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
                                                width: 65%;
                                            }

                                            .headerbuttons, .changebuttons {
                                                margin: 8px;
                                                background-color: #bfd2e1;
                                                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                                            }

                                            th {
                                                font-size: 12px;
                                            }

                                            .changebuttons, #start-date, #Right1-1, #Right1-2, #Right2-1, #Right2-2, #Right3-1, #Right3-2, #rights, #create-role {
                                                display: none;
                                            }

                                            .change-title, .create-title {
                                                width: 100%;
                                                font-size: 20px;
                                            }

                                            .display-title {
                                                font-size: 18px;
                                                position: absolute;
                                                line-height: 30px;
                                                color: #295070;
                                                padding-left: 0px;
                                                padding-right: 0px;
                                            }
                                            /*.monthly-table, .daily-weekly-table, .date-table {
                                                border: 2px solid grey;
                                                margin-left: 5px;
                                                margin-bottom: 25px;
                                            }
                                            .monthly-table {
                                                margin-right: 650px;
                                            }*/

                                            .daily-weekly-table, #start-date {
                                                margin-right: 150px;
                                            }

                                            #plus {
                                                width: 20px;
                                            }

                                             ::-webkit-scrollbar {
                                                -webkit-appearance: none;
                                                width: 7px;
                                            }

                                             ::-webkit-scrollbar-thumb {
                                                border-radius: 4px;
                                                background-color: rgba(0, 0, 0, .5);
                                                -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
                                            }

                                            .content {
                                                overflow-y: scroll;
                                                height: calc(100vh - 203px);
                                                padding-left: 0px;
                                                padding-right: 0px;
                                                margin-top: 10px;
                                            }

                                            .overflow {
                                                overflow-y: scroll;
                                            }

                                            .table_height {
                                                height: 453px;
                                            }

                                            .upper_band {
                                                height: 30px;
                                                /*background-color: rgb(158, 174, 179);*/
                                                background: white;
                                                border-bottom: solid 1px black;
                                            }

                                            .lower_band {
                                                height: 40px;
                                                background: white;
                                                border-top: solid 1px black;
                                            }

                                            #mainheader {
                                                margin-top: 5%;
                                                margin-bottom: 5%;
                                            }

                                            #back {
                                                display: none;
                                            }

                                            @media (min-width: 992px) {
                                                .col-md-3 {
                                                    width: 18%;
                                                }
                                                .col-md-9 {
                                                    width: 82%;
                                                }
                                            }

                                            #content_header {
                                                padding-left: 0px;
                                                position: relative;
                                                z-index: 1;
                                            }
                                            /*#content_bg_image {
                                                position: absolute;
                                                z-index: -1;
                                                background: url(../images/uscan.jpg) center center;
                                                opacity: .2;
                                                width: 100%;
                                                height: 100%;
                                                background-repeat: repeat;
                                            }*/

                                            .first_button {
                                                padding-left: 0px;
                                            }

                                            button {
                                                width: 60px;
                                            }

                                            .cursor_not_allowed {
                                                cursor: not-allowed;
                                            }

                                            #delete_search, #delete_showall {
                                                width: 28px;
                                                padding: 0px;
                                            }

                                            .edit_search, .edit_showall, .edit {
                                                width: 30px;
                                                padding: 0px;
                                            }

                                            button {
                                                -moz-box-shadow: 3px 4px 0px 0px #1564ad;
                                                -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
                                                box-shadow: 1px 2px 0px 0px gray;
                                                background-color: #aec6d9;
                                                -moz-border-radius: 5px;
                                                -webkit-border-radius: 5px;
                                                border-radius: 3px;
                                                border: 1px solid white;
                                                display: inline-block;
                                                cursor: pointer;
                                                color: #295070;
                                                font-family: Arial;
                                                font-size: 12px;
                                                /*font-weight: bold;*/
                                                text-decoration: none;
                                                text-shadow: 0px 1px 0px #7aa1c1;
                                            }

                                            button:hover {
                                                color: black;
                                            }

                                            button:active {
                                                position: relative;
                                                top: 1px;
                                            }

                                            .groove {
                                                border-style: groove;
                                                z-index: 1;
                                                background-color: white;
                                                width: 15%;
                                                border-radius: 2px;
                                                display: none;
                                                position: absolute
                                            }

                                            .tab tr:hover {
                                                background-color: rgba(192, 197, 200, 0.54);
                                                cursor: pointer;
                                            }

                                            .details_color {
                                                background-color: #b9c5c9;
                                            }

                                            #content_header {
                                                padding-right: 0px;
                                            }

                                            #plus {
                                                border-radius: 50%;
                                            }

                                            #show_all, #show_all_t, #show_all_parent, #show_all_p, #show_all_c {
                                                cursor: pointer;
                                                color: #295070;
                                                font-size: 12px;
                                                font-weight: 700;
                                                font-weight: bold;
                                                color: #295070;
                                            }

                                            #show_all:hover, #show_all_parent:hover, #show_all_p, #show_all_c {
                                                color: black;
                                            }

                                            .show_all_header {
                                                float: right;
                                                text-align: center;
                                                line-height: 40px;
                                                width: 20%;
                                            }

                                            .nav-tabs {
                                                border-bottom: 0px solid #ddd;
                                            }

                                            .nav>li>a {
                                                padding-top: 5px;
                                                padding-bottom: 5px;
                                                padding-left: 25px;
                                                padding-right: 25px;
                                                background-color: #b9c5c9;
                                                color: #295070;
                                            }

                                            .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
                                                font-weight: bolder;
                                                color: black;
                                                background-color: #eaeff4;
                                            }

                                            .edit_color {
                                                color: #003c00;
                                            }

                                            .delete_color {
                                                color: #990000;
                                            }

                                            .list-group-item {
                                                background-color: white;
                                            }

                                            select {
                                                height: 21px;
                                            }

                                            .disabled_bg_color {
                                                background-color: rgb(235, 235, 228);
                                            }

                                            select {
                                                height: 21px;
                                            }

                                            .error {
                                                margin: auto;
                                                font-weight: bold;
                                            }

                                            label.error {
                                                color: #ee3333;
                                            }

                                            .custom_click_tab {
                                                padding-top: 5px;
                                                padding-bottom: 5px;
                                                padding-left: 25px;
                                                padding-right: 25px;
                                                background-color: #b9c5c9;
                                                color: #295070;
                                                margin-right: 2px;
                                                line-height: 1.42857143;
                                                border: 1px solid transparent;
                                                border-radius: 4px 4px 0 0;
                                                position: relative;
                                                display: block;
                                            }

                                            .custom_click_tab_active {
                                                font-weight: bolder;
                                                color: black;
                                                background-color: #eaeff4;
                                                border: 1px solid #ddd;
                                                border-bottom-color: transparent;
                                                text-decoration: none;
                                                cursor: default;
                                                padding-top: 5px;
                                                padding-bottom: 5px;
                                                padding-left: 25px;
                                                padding-right: 25px;
                                                position: relative;
                                                display: block;
                                            }
