div.msgBox {
    padding: 4px 10px 4px 10px;
    position: fixed;
    z-index: 1050;
    width: 250px;
    min-height: 100px;
    color: #00335e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 11px #000000;
    -webkit-box-shadow: 0px 0px 11px #000000;
    box-shadow: 0px 0px 11px #000000;
    background-color: #839b9f;
}

div.msgBoxBackGround {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #d4dade;
    opacity: 0.9;
    z-index: 999;
}

div.msgBoxTitle {
    padding: 5px 0 5px 0;
    font-size: 11px;
    color: #295070;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid #002c5f;
    padding-bottom: 5px;
    font-weight: bold;
}

div.msgBoxImage {
    margin: 0 3px 6px 3px;
    display: inline-block;
    float: left;
    padding-top: 8px;
    /*height:75px;
    width:75px;*/
}

div.msgBoxImage img {
    margin: 0 3px 6px 3px;
    height: 15px;
    width: 15px;
}

div.msgBoxContent {
    font-size: 11px;
    /*margin:0 3px 6px 3px;*/
    /*display:inline-block;*/
    float: left;
    /*height:90px;
    width:319px;*/
    margin-top: 2px;
    padding-top: 7px;
}

div.msgBoxContent p {
    padding: 0;
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
}

div.msgBoxContent span {
    display: table-cell;
    vertical-align: middle;
    color: #295070;
}


/* Content class for IE7*/

div.msgBoxContentIEOld {
    font-size: 11pt;
    margin: 0 3px 6px 3px;
    display: inline-block;
    float: left;
    /*height:90px;
    width:319px;*/
    position: relative;
}

div.msgBoxContentIEOld p {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
}

div.msgBoxContentIEOld span {
    position: relative;
    top: -50%;
}


/* Content class for IE7*/

div.msgBoxButtons {
    display: inline-block;
    width: 100%;
    text-align: right;
}

div.msgBoxButtons input[type='button'] {
    cursor: pointer;
    margin: 2px;
    height: 17px;
    width: 27px;
    background-color: #aec6d9;
    color: #295070;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 3px;
    outline: none;
    border: solid white 1px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7aa1c1;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7aa1c1;
    -moz-box-shadow: 3px 4px 0px 0px #1564ad;
    -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
    box-shadow: 1px 2px 0px 0px gray;
    font-size: 10px;
}

div.msgBoxButtons input[type='button']:hover {
    background-color: #aec6d9;
    color: black;
    text-decoration: none;
    text-shadow: 0px 1px 0px #7aa1c1;
}

div.msgBoxButtons input[type='button']:active {
    background-color: #AAAAAA;
    color: white;
}

div.msgBoxButtons input[type='button']:focus {
    outline: none;
    /*border: solid 2px #FFCC66; /* replace outline by a border */
    -o-transform: rotate(0);
    /*remove opera outline*/
}

div.msgBoxButtons input[type='button']::-moz-focus-inner
/*remove firefox inner outline*/

{
    outline: none;
    border: none;
}

div.msgBoxInputs {
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    width: 195px;
}

div.msgInput input[type='text'], div.msgInput input[type='password'] {
    padding: 4px;
    border: 1px solid #DFDFDF;
    color: #2f2f2f;
    width: 180px;
}

div.msgInput text {
    color: #2f2f2f;
    font-size: 10px;
}
