.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.changes {
    background-color: #adc1d6;
}

.columnid {
    cursor: pointer;
}

.content {
    overflow: hidden;
    height: calc(100vh - 203px);
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding-left: 10px;
}

input[type=text] {
    width: 100%;
}


/*td, input {
    width: 200px;
}*/

.scroll {
    overflow: auto;
    height: 434px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

table {
    table-layout: fixed;
}

td {
    width: 250px;
}

.highlight_color, .highlight_color_td {
    background-color: rgba(192, 197, 200, 0.54);
}

#content_bg_image {
    display: none;
}

tbody tr {
    cursor: pointer
}

th {
    font-size: 11px;
}

td b {
    font-size: 10px;
}

thead tr {
    background-color: #D3D3D3;
}

.tooltip {
    background-color: #000;
    border: 1px solid #fff;
    padding: 10px 15px;
    width: 200px;
    display: none;
    color: #fff;
    text-align: left;
    font-size: 12px;
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}
