#no_scroll {
    overflow: hidden;
}
.no_scroll {
    overflow: hidden;
}
td {
    width: 70px;
}
input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
.load {
    display: none;
}
.overflow {
    padding-bottom: 30px;
}
.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}
