#show_all_link, #search-para {
    display: block;
}
#back_search {
    display: none;
}
td {
    width: 70px;
}
input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
#no_scroll {
    overflow: hidden;
}
.no_scroll {
    overflow: hidden;
}
