.content {
   overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

#create_page{
  display: none;
}
#back1{
  display: none;
}
#back2{
  display: none;
}
.nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
#fourth_tab_buttons {
    display: none;
}

input {
border-width: 2px;
border-style: inset;
border-color: initial;
border-image: initial;
}
.scroll {
    overflow: scroll;
    height: 436px;
}
.initial_disable_color {
    background-color: rgb(235, 235, 228);
}
