#report_gm_div table, #report_gm_div th, #report_gm_div td {
   border: 1px solid black;
}

#report_gm_view1_div table, #report_gm_view1_div th, #report_gm_view1_div td {
   border: 1px solid black;
}

#report_gm_view2_div table, #report_gm_view2_div th, #report_gm_view2_div td {
   border: 1px solid black;
}
.content {
    /*overflow-y: scroll;*/
    padding-left: 0px;
    padding-right: 0px;
    /*height: 460px;*/
}


/*.scroll {
    overflow-y: scroll;
}*/
.td_click {
  cursor: pointer;
}
.fca_click {
  cursor: pointer;
}
.hide_div{
  display: none;
}
.report_subtitle{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #295070;
  padding-left: 3px;
  padding-right: 0px;
}
.report_row{
  font-size: 9px;
  font-weight: bold;
  text-align: left;
  color: #295070;
  padding-left: 3px;
  padding-right: 0px;
}
