
.content {
   /*overflow: hidden;*/
}
#goto_main,#report_child1,#report_child2{
  z-index: 100;
  bottom: 51px;
  position: fixed;
}

button{
  width: auto;
}
#variant_select{
  width:20px;
}
#variant{
  width:150px;
}
.multiselect{
width: 170px;
height: 25px;
overflow: hidden;
}
.btn-default{
padding:6px 6px;
text-align: left;
font-size: 12px;
}
#delete_showall{
padding:6px 6px;
text-align: center;
font-size: 12px;
}
.dropdown-menu{
font-size: 10px;
min-width: 170px;
overflow-y: scroll;
height: 100px;
}
input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 170px;
}
#start_date,#end_date{
  width: 170px;
}
.table_height {
     /*height: 453px;*/
}

.scroll {
    overflow: scroll;
    height: 436px;
}

td {
    width: 125px;
}
.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}
