input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
input[type=time] {
    width: 65px;
}
td {
    width: 70px;
}
.load {
    display: none;
}
#load {
    display: none;
}
.scheduler_date_width_20 {
    width: 20%;
}
.scheduler_date_width_10 {
    width: 10%;
}
.scheduler_date_width_5 {
    width: 5%;
}
.job_name_width {
    width: 1%;
}
