.content {
    overflow-y: hidden;
    padding-left: 0px;
    padding-right: 0px;
    /*height: 436px;*/
}

.hide, #list-of-task, #update_button, #task-table {
    display: none;
}

.show {
    display: block;
}

.delete_task, .edit_task {
    width: 30px;
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#search-para td, #task-table-form td {
    width: 76px;
}

input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}

.task_tab tr:hover {
    background-color: rgba(192, 197, 200, 0.54);
    cursor: pointer;
}

.scroll {
    overflow: scroll;
    height: 436px;
}
