.content {
    overflow: hidden;
}
.user_grp_table, .right_table, .role_table, .user_table {
    float: left;
    width: 300px;
}
#display_role_table, #display_usergrp_table {
    width: 40%;
}
#display_user_table {
    width: 80%;
}
#no_scroll {
    overflow: hidden;
}
.no_scroll {
    overflow: hidden;
}
td {
    width: 70px;
}
input[type=text], select, input[type=number], input[type=date], input[type=textarea], input[type=email], input[type=password] {
    width: 150px;
}
.custom_click_tab {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #b9c5c9;
    color: #295070;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
}
.custom_click_tab_active {
    font-weight: bolder;
    color: black;
    background-color: #eaeff4;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    text-decoration: none;
    cursor: default;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    display: block;
}
.load {
    display: none;
}
#show_all_link, #search-para {
    display: block;
}
#back_search {
    display: none;
}
.tab-content {
    display: none;
}
#myTabs {
    display: none;
}
